<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact Hub{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" /> <!-- daisyui -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> <!-- tailwind --> <!-- for tailwind to work -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>

    {% block styles %}
    {% endblock %}
</head>
<body class="m-4">
    {% block content %}
    {% endblock %}
</body>
</html>